<div class="auth-card">
    <a  class="nav-link"  [routerLink]="['']" >Zur&uuml;ck</a>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputUsername">Benutzernamen</label>
          <input type="text"
                 class="form-control"
                 id="inputUsername"
                 formControlName="username"
                 placeholder="Benutzernamen eingeben"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

        </div>
        <div class="form-group">
          <label for="inputPassword">Passwort</label>
          <input type="password"
                 class="form-control"
                 id="inputPassword"
                 formControlName="password"
                 placeholder="Passwort eingeben"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </div>
        <div class="form-check">
            <a  class="nav-link"
            [routerLink]="['/reset-password']" >Passwort vergessen</a>
        </div>
        <div class="form-group">
            <div *ngIf="loginError"  class="text-danger">
                <div> Benutzername und Passwort Kombination existiert nicht.</div>
            </div>
            <button [disabled]="loading" type="submit" class="btn btn-primary submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Einloggen
            </button>
        </div>

      </form>

</div>
