<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="row">
            <div class="display-6">Hello {{ this.userName }}!</div>
            <a  class="nav-link"
                routerLinkActive="router-link-active" >
                <button type="button" (click)="play()" id="playButton" data-testid="play-button" class="btn btn-success btn-lg">Play</button>
            </a>
            <a  class="nav-link"
                routerLinkActive="router-link-active" >
                <button type="button" (click)="manageCards()" id="manageCardsButton" data-testid="manage-cards-button" class="btn btn-primary btn-lg">Manage Cards</button>
            </a>
            <a class="nav-link">
                <button type="button" (click)="logout()" id="logoutButton" data-testid="logout-button" class="btn btn-primary btn-lg">Logout</button>
            </a>
        </div>
    </div>
</div>
